
:root {
  --sea: #0d8db0;
}

body {
  background-color: var(--sea);
  color: var(--grey);
  background: radial-gradient(circle at 100% 100%, rgba(253,187,45,1) 0%, rgba(253,187,45,1) 5%, rgba(13,141,176,1) 100%) 100% fixed;

  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.makegame {
  background-color: rgba(255,255,255,0.5);
  width: 30em;
  padding: 2em 1em 0 1em;
  box-shadow: 0px 0px 5px 0px #000000;
  background-color: #dfd8c7;
}

.form-group {
  display: grid;
  grid-template-columns: 7em 1fr;
}

.form-group {
  margin-bottom: .5em;
}
.players .player {
  display: grid;
  grid-template-columns: 1fr 1fr 2em;
  column-gap: .5em;
  align-items: center;
  margin-bottom: .5rem;
}

select,input {
  border-width: 0;
  border-bottom: 1px dotted black;
  background: transparent;
  padding: .5em;
  color: inherit;
  height: 2.4em;
  min-width: 0;
}

button {
  padding: .5em;
  border: 1px solid black;
  color: inherit;
  transition: background-color .5s;
  background: transparent;
}
button:hover {
  background: white;
}
button:focua {
  background: #fff1;
}
button:active {
  background: #0001;
}
button.small {
  display: block;
  width: 2em; height: 2em;
  line-height: 0;
}
.addplayerline {
  text-align: right;
}
button.addplayer {
  width: 2em; height: 2em;
  line-height: 0;
}
button[type=submit] {
  margin: 1em auto;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.input, .message, .output {
  display: none;
}

.input {
}
.makegame[show=input] .input {
  display: block;
}

.message {
  text-align: center;
  margin-bottom: 3em;
}
.makegame[show=message] .message {
  display: block;
}

.output {
  display: none;
  margin-bottom: 3em;
}
.output table {
  margin: 0 auto;
}
.output table th {
  font-weight: bold;
}
.makegame[show=output] .output {
  display: block;
}
