
* {
  scrollbar-width: none;
  scrollbar-color: #7ba2b2 transparent;
}

body {
  background-color: #0d8db0;
  cursor: default;
}

.notconnected {
  z-index: 9999;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffaa;
}
.game[connected=true] .notconnected {
  display: none;
}
.notconnected > div {
}

.game {
  font-size: smaller;
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* overflow: clip; */
}

.map {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;
  z-index: -1;
}
.map > object {
  margin: 4rem 10rem 9rem 16rem;
  width: 2000px;
}

.nostate {
  z-index: 1001;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffaa;
}
.game[started=true] .nostate {
  display: none;
}
.nostate button {
  width: 50%;
  height: 50%;
  border: none;
  background-color: transparent;
  background-image: url('../go.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.state {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 3em;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5em;
  cursor: default;
}
.game[started=false] .state {
  display: none;
}
.state .colour {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: .5em;
}
.state .name {
}
.state > div {
  padding: 1rem;
  background: rgba(255,255,255,0.6);
  display: flex;
  flex-flow: row;
  align-items: center;
  column-gap: .5em;
}
.state > div > * {
  display: block;
}

.money > div {
  position: absolute;
  display: none;
  padding: .5em;
}
.money:hover > div {
  display: block;
  background: rgba(255,255,255,.6);
}

.squares {
  position: absolute;
  top: 0; width: 14rem; bottom: 0; left: 1rem;
  overflow: auto;
  opacity: 0.6;
  background-color: black;
}
.game[ontrack=true] .squares {
  opacity: 1;
}
.squares:hover {
  opacity: 1;
}
.squares > div {
  height: 11.375rem;
  /* padding: 1em 3em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: .5em; */
  background-image: url('../img/square.svg');
  background-size: 100% 100%;
  position: relative;
}
.squares > div > *:first-child {
  font-size: larger;
  font-weight: bold;
}
.squares > div > img {
  width: 100%;
}
.squares > div+div {
  margin-top: -1.5em;
}
.squares .sitting {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  gap: .5em;
  justify-content: flex-start;
}
.squares .mark {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5em;
}

.actions {
  display: none;
  position: absolute;
  top: 1rem; right: 1rem; width: 5rem;
  flex-flow: column;
  justify-content: center;
  gap: .5rem;
  z-index: 10;
}
.actions.open {
  display: flex;
}
.actions > button {
  height: 5rem;
  opacity: 0.6;
  border: none;
}
.actions > button:hover {
  opacity: 1;
}
.actions > button.text {
  background-color: white;
  border-radius: 2.5rem;
  overflow: clip;
}
.actions > button.text.can {
  outline: 2px solid green;
}
.actions > button.text.must {
  outline: 2px solid red;
}
.actions > button.img {
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.actions > button.img.must {
  background-color: red;
}

.actions > button.buysouvenir {
  background-image: url('../img/buysouvenir.svg');
  background-color: white;
  border-radius: 2.5rem;
  overflow: clip;
}

.actions > button.dice {
  position: absolute;
  top: 4rem;
  height: 9rem;
  right: 10rem;
  width: 9rem;
  background-color: transparent;
  background-image: url('../img/dice.svg');
  background-size: contain;
}

.actions > button.end {
  background-image: url('../img/zzzz.svg');
  background-color: white;
  border-radius: 2.5rem;
  overflow: clip;
}

.showmessage {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 50vh; right: 50vw; bottom: 50vh; left: 50vw;
  justify-content: center;
  align-items: center;
}
.showmessage.open {
  display: flex;
}
.showmessage .message {
  background-color: rgb(255,255,255,0.8);
  border-radius: .5rem;
  padding: 2rem;
  min-width: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages {
  position: absolute;
  height: 1rem; right: 0; bottom: 0; left: 16rem;
  overflow: auto;
  background: white;
  padding: 0 1rem;
  opacity: 0.6;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transition: height .5s;
}
.messages:hover {
  height: 8rem;
  opacity: 1;
}

.showdice {
  display: none;
  position: absolute;
  height: 9rem;
  right: 10rem;
  bottom: 4rem;
  width: 9rem;
}
.game[candice=false] .showdice {
  display: none;
}
.showdice.open {
  display: block;
}
.showdice .dice {
  width: 100%;
  height: 100%;
  background-image: url('../img/dice.svg');
  background-size: contain;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity .5s;
}
.showdice .dice:hover {
  opacity: 1;
}

.ticket {
  position: absolute;
  background-color: #dfd8c7;
  /* border: 1px solid black; */
  width: 20rem;
  height: 14rem;
  right: -14rem;
  bottom: 8rem;
  rotate: -.14turn;
  transition: right .5s, rotate .5s;
  display: flex;
  flex-flow: column;
  padding: 1em;
  box-shadow: 0px 0px 5px 0px #000000;
}
.game[ticket=false] .ticket {
  display: none;
}
.ticket:hover {
  right: -2em;
  rotate: -.06turn;
}
.ticket > div {
  flex: 1 0 auto;
}
.ticket .head {
  text-align: center;
}
.ticket .field {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 1rem;
}
.ticket .field span {
  flex: 1 0 auto;
  border-bottom: 1px dotted black;
  padding-left: .5rem;
}
.ticket .foot {
  text-align: center;
  font-size: 60%;
}

.card {
  width: 16rem;
  height: 12rem;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-flow: column;
}
.card .head {
  font-weight: bold;
  text-decoration: underline;
  flex: 1 0 auto;
}
.card .body {
  flex: 1 0 auto;
}
.card .foot button {
  border: 0;
  background: transparent;
  color: black;
}

.luckcard {
  background-color: #ffcb50;
}
.luckcard .foot button {
  visibility: hidden;
}

.riskcard {
  background-color: #ff8484;
}

.lucks {
  position: absolute;
  width: 16rem;
  height: 12rem;
  transition: right .5s, rotate .5s, bottom .5s;
}
.game[hasluck=false] .lucks {
  display: none;
}
.lucks.stashed {
  right: -14rem;
  bottom: 2rem;
  rotate: -.14turn;
  cursor: pointer;
}
.lucks.stashed:hover {
  right: -10rem;
  rotate: -.18turn;
}
.lucks.open {
  right: 20rem;
  bottom: 20rem;
}
.lucks .luckcard {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: rotate .5s;
}
.lucks.open .luckcard {
  box-shadow: 0px 0px 5px 0px #000000;
  transform-origin: bottom right;
}
.lucks.open .luckcard:hover {
  z-index: 1000;
}
.game[canluck=true] .lucks.open .luckcard .foot button {
  visibility: visible !important;
}

.showcard {
  background: rgba(0,0,0,.5);
  display: none;
  position: absolute;
  bottom: 15rem;
  right: 15rem;
  justify-content: center;
  align-items: center;
}
.showcard.open {
  display: flex;
}
.showcard .card {
  box-shadow: 0px 0px 5px 0px #000000;
  transition: rotate 1s;
}
.showcard.open.blank .card {
  cursor: pointer;
  rotate: x 1turn;
}
.showcard.open.blank .card > div {
  visibility: hidden;
}
.showcard.open.blank .card > div.body {
  visibility: visible;
}

.prices {
  position: absolute;
  left: 0;
  width: 0;
  top: 10rem;
  height: 35rem;
  rotate: -.05turn;
  transition: left .5s, width .5s, rotate .5s;
  background-color: #fdf3d7;
  overflow: auto;
}
.prices.open {
  /* rotate: unset; */
  left: 20rem;
  width: 25rem;
}
.prices > * {
  width: 25rem;
}
.prices .head {
  height: 8rem;
  background: url('../prices.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.prices .body {
  padding: 1em;
}
.prices table {
  width: 100%;
}
.prices thead th {
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 80%;
}
.prices thead th {
  font-style: italic;
  font-weight: normal;
}
.prices tbody tr:hover {
  background: white;
  cursor: pointer;
}
.prices .place {
  text-transform: uppercase;
}
.prices .fare {
  text-align: right;
}

.souvenircard {
  width: 12rem;
  height: 18rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: .5rem;
}
.souvenircard .bar {
  background-color: #99939a;
  height: 2rem;
}
.souvenircard .body {
  text-align: center;
  font-family: serif;
  text-transform: uppercase;
}
.souvenircard .body div {
  margin: .5rem 0;
}

.souvenirs {
  position: absolute;
  width: 12rem;
  height: 18rem;
  transition: right .5s, rotate .5s, bottom .5s;
}
.game[hassouvenir=false] .souvenirs {
  display: none;
}
.souvenirs.stashed {
  right: -14rem;
  bottom: 18rem;
  rotate: -.14turn;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}
.souvenirs.stashed:hover {
  right: -10rem;
  rotate: -.18turn;
}
.souvenirs.open {
  right: 10rem;
  bottom: 20rem;
  rotate: 0;
}
.souvenirs .souvenircard {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.souvenirs.open .souvenircard {
  box-shadow: 0px 0px 5px 0px #000000;
  rotate: -.05turn;
}
.souvenirs.open .souvenircard:hover {
  z-index: 1000;
}
