
body {
  background-color: #0d8db0;
  scrollbar-width: thin;
  scrollbar-color: #7ba2b2 transparent;
}

#maparea {
  box-sizing: content-box;
  width: 1000px;
  border: 10px solid black;
  margin: auto;
  padding: 0;
  position: relative;
}
#maparea * {
  box-sizing: content-box;
}
#maparea img {
  display: block;
}

#jsonarea {
  border: 10px solid black;
  width: 1000px;
  margin: auto;
}
#jsonarea textarea {
  height: 100px;
  width: 100%;
  display: block;
}

.dot {
  border: 2px solid white;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  font-size: 0px;
}
.line {
  line-height: 0;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  height: calc(100vh - 10em);
}

.squares {
  overflow-y: auto;
  max-height: 100%;
  flex: 0 0 18em;
}

.squares > div {
  height: 12em;
  padding: 1em 3em;
  text-align: center;
  flex: 1 0 8em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-image: url('../square.svg');
  background-size: 100% 100%;
}

.squares > div+div {
  margin-top: -1em;
}

.squares .sitting {
  display: flex;
  flex-flow: row;
  gap: .5em;
  justify-content: center;
}

.squares .mark {
  height: 1em;
  width: 1em;
  border-radius: .5em;
}

.map {
  flex-grow: 1;
  overflow: auto;
  line-height: 0;
}
.map > object {
  min-width: 100%;
  min-height: 1400px;
}

.other {
  height: 10em;
  display: flex;
  flex-flow: column nowrap;
}

.game[started=false] .nostate {
  text-align: center;
  display: block;
}
.game[started=true] .nostate {
  display: none;
}

.game[started=false] .state {
  display: none;
}
.game[started=true] .state {
  display: true;
}

.currentturn {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  gap: .5em;
}
.currentturn .colour {
  width: 1em;
  height: 1em;
  border-radius: .5em;
}
.currentturn .name {
}
.currentturn .text {
}

.actions {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: .5em;
  padding: 10px;
}
.actions > button {
  flex: 0 0 auto;
  background-color: #0d8db0;
  border-radius: 5px;
}

.messages {
  flex-grow: 10;
  overflow: auto;
}
