
* {
  scrollbar-width: none;
  scrollbar-color: #7ba2b2 transparent;
}

body {
  background-color: #0d8db0;
  cursor: default;
}

.notconnected {
  z-index: 9999;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffaa;
}
.game[connected=true] .notconnected {
  display: none;
}
.notconnected > div {
}

.game {
  font-size: smaller;
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* overflow: clip; */
}

.map {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;
  z-index: -1;
}
.map > object {
  margin: 0 0 0 8rem;
  width: 2000px;
}

.nostate {
  z-index: 1001;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffaa;
}
.nostate.hide {
  display: none;
}
.nostate button {
  width: 50%;
  height: 50%;
  border: none;
  background-color: transparent;
  background-image: url('../go.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.aplayer {
  display: flex;
  flex-flow: row;
  align-items: center;
  border: 2px solid black;
  border-radius: .5rem;
  padding: 0 .5rem;
}
.aplayer .name {
}

.state {
  position: absolute;
  top: 0;
  height: 3em;
  left: 50vw;
  width: 0;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: start;
  cursor: default;
  z-index: 100;
}
.state > div {
  padding: 0 1rem;
  background: rgba(255,255,255,0.6);
  display: flex;
  flex-flow: row;
  align-items: center;
  column-gap: .5em;
  border-radius: 0 0 .5em .5em;
}
.state:hover > div {
  background: white;
}
.state > div > * {
  display: block;
}
.state .msg {
  font-size: 250%;
  cursor: pointer;
}
.state .msg:hover {
  font-weight: bold;
}

.dropdown > div {
  position: absolute;
  display: none;
  padding: .5em;
  border-radius: 0 0 .5em .5em;
  flex-flow: column;
  row-gap: .5rem;
}
.dropdown:hover > div {
  display: flex;
  background: white;
}

.squares {
  z-index: 50;
  position: absolute;
  top: 0; width: 14rem; bottom: 0; left: 1rem;
  overflow: auto;
  opacity: 0.6;
  background-color: black;
  box-shadow: 0px 0px 5px 0px #000000;
  padding: 25rem 0;
}
.squares.focus {
  opacity: 1;
}
.squares:hover {
  opacity: 1;
}
.squares > div {
  height: 11.375rem;
  /* padding: 1em 3em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: .5em; */
  background-image: url('../img/square.svg');
  background-size: 100% 100%;
  position: relative;
}
.squares > div > *:first-child {
  font-size: larger;
  font-weight: bold;
}
.squares > div > img {
  width: 100%;
}
.squares > div+div {
  margin-top: -1.5em;
}
.squares .sitting {
  padding: 1rem;
  justify-content: flex-start;
}
.squares .mark {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  border: 2px solid black;
}
.squares .mark+.mark {
  margin-top: -1rem;
}

.actions {
  display: none;
  position: absolute;
  top: 1rem; right: 1rem; width: 5rem;
  flex-flow: column;
  justify-content: center;
  gap: .5rem;
  z-index: 10;
}
.actions.open {
  display: flex;
}
.actions > button {
  height: 5rem;
  opacity: 0.6;
  border: none;
}
.actions > button:hover {
  opacity: 1;
}
.actions > button.text {
  background-color: white;
  border-radius: 2.5rem;
  overflow: clip;
}
.actions > button.text.can {
  outline: 2px solid green;
}
.actions > button.text.must {
  outline: 2px solid red;
}
.actions > button.img {
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.actions > button.img.must {
  background-color: red;
}

.actions > button.buysouvenir {
  background-image: url('../img/buysouvenir.svg');
  background-color: white;
  border-radius: 2.5rem;
  overflow: clip;
}

.actions > button.dice {
  position: absolute;
  top: 4rem;
  height: 9rem;
  right: 10rem;
  width: 9rem;
  background: transparent url("../img/dice.svg") no-repeat center/contain;
}

.actions > button.end {
  position: absolute;
  top: 14em;
  height: 9rem;
  right: 2rem;
  width: 9rem;
  background: transparent url("../img/bedtime.svg") no-repeat center/contain;
}

.stopbutton {
  position: absolute;
  top: 50vh;
  left: 15rem;
  width: 11rem;
  height: 0;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: .7;
}
.stopbutton.open {
  display: flex;
}
.stopbutton:hover {
  opacity: 1;
}
.stopbutton .button {
  border-radius: 0 50% 50% 0;
  background-color: white;
  width: 11rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-left: 0;
  cursor: pointer;
  font-size: 200%;
  padding-left: 3rem;
}

.stopbutton.onmap {
  left: calc(50vw - 15rem);
}
.stopbutton.onmap .button {
  border-radius: 50%;
  width: 10rem;
  border: 3px solid black;
}

.sleepbutton {
  display: none;
  position: absolute;
  bottom: 2rem;
  left: 16rem;
  height: 11rem;
  width: 14rem;
  opacity: .6;
  cursor: pointer;
  background: transparent url("../img/bedtime.svg") no-repeat center/contain;
}
.sleepbutton.open {
  display: block;
}
.sleepbutton:hover {
  opacity: 1;
}

.sleepbutton.sick {
  background-image: url("../img/sickbedtime.svg");
}

.dicebutton {
  display: none;
  position: absolute;
  left: 50vw;
  bottom: 8em;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s;
}
.dicebutton.open {
  display: flex;
}
.dicebutton:hover {
  opacity: 1;
}
.dicebutton .button {
  flex: 0 0 auto;
  width: 15rem;
  height: 15rem;
  background: transparent url("../img/dice.svg") no-repeat center/contain;
}

.gamblebutton {
  display: none;
  position: absolute;
  left: 50vw;
  bottom: 50vh;
  width: 0;
  height: 0;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s;
}
.gamblebutton.open {
  display: flex;
}
.gamblebutton:hover {
  opacity: 1;
}
.gamblebutton .button {
  flex: 0 0 auto;
  width: 40rem;
  height: 40rem;
  background: center / 10rem no-repeat url("../img/dice.svg"), center / contain no-repeat url("../img/roulette-wheel.svg");
}

.airliftbutton {
  display: none;
  position: absolute;
  left: 50vw;
  bottom: 50vh;
  width: 0;
  height: 0;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s;
}
.airliftbutton.open {
  display: flex;
}
.airliftbutton:hover {
  opacity: 1;
}
.airliftbutton .button {
  flex: 0 0 auto;
  width: 30rem;
  height: 20rem;
  background: center / contain no-repeat url("../img/helicopter.svg");
}

.customsbutton {
  display: none;
  position: absolute;
  left: 50vw;
  bottom: 50vh;
  width: 0;
  height: 0;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s;
}
.customsbutton.open {
  display: flex;
}
.customsbutton:hover {
  opacity: 1;
}
.customsbutton .button {
  flex: 0 0 auto;
  width: 30rem;
  height: 20rem;
  background: center / contain no-repeat url("../img/mustcustoms.svg");
}

.buysouvenirbutton {
  display: none;
  position: absolute;
  right: 4rem;
  bottom: 12em;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s;
}
.buysouvenirbutton.open {
  display: flex;
}
.buysouvenirbutton:hover {
  opacity: 1;
}
.buysouvenirbutton .button {
  flex: 0 0 auto;
  width: 10rem;
  height: 12rem;
  /* background: white; */
  background: center / contain no-repeat url("../img/souvenirs.svg");
}

.showmessage {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 50vh; right: 50vw; bottom: 50vh; left: 50vw;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.showmessage.open {
  display: flex;
}
.showmessage .message {
  background-color: rgb(255,255,255,0.8);
  border-radius: .5rem;
  padding: 2rem;
  min-width: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.showmessage .message {
  text-align: center;
}

.messages {
  position: absolute;
  height: 1rem; right: 0; bottom: 0; left: 16rem;
  overflow: auto;
  background: white;
  padding: 0 1rem;
  opacity: 0.6;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transition: height .5s;
}
.messages:hover {
  height: 8rem;
  opacity: 1;
}

.foot button {
  border: 0;
  background: transparent;
  color: inherit;
}

.ticket {
  position: absolute;
  background-color: #dfd8c7;
  /* border: 1px solid black; */
  width: 20rem;
  height: 14rem;
  right: -14rem;
  bottom: 8rem;
  rotate: -.14turn;
  transition: right .5s, rotate .5s;
  display: flex;
  flex-flow: column;
  padding: 1em;
  box-shadow: 0px 0px 5px 0px #000000;
}
.ticket.empty {
  display: none;
}
.ticket:hover {
  right: -2em;
  rotate: -.06turn;
}
.ticket > div {
  flex: 1 0 auto;
}
.ticket .head {
  text-align: center;
}
.ticket .field {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 1rem;
}
.ticket .field span {
  flex: 1 0 auto;
  border-bottom: 1px dotted black;
  padding-left: .5rem;
}
.ticket .foot {
  text-align: center;
  font-size: 60%;
}

.card {
  width: 16rem;
  height: 12rem;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-flow: column;
}
.card .head {
  font-weight: bold;
  text-decoration: underline;
  flex: 1 0 auto;
}
.card .body {
  flex: 1 0 auto;
}

.luckcard {
  background-color: #ffcb50;
}
.luckcard .foot button {
  visibility: hidden;
}

.riskcard {
  background-color: #ff8484;
}

.lucks {
  position: absolute;
  width: 16rem;
  height: 12rem;
  transition: right .5s, rotate .5s, bottom .5s;
}
.lucks.empty {
  display: none;
}
.lucks.stashed {
  right: -14rem;
  bottom: 2rem;
  rotate: -.14turn;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}
.lucks.stashed:hover {
  right: -10rem;
  rotate: -.18turn;
}
.lucks.open {
  right: 20rem;
  bottom: 20rem;
}
.lucks .luckcard {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: rotate .5s;
}
.lucks.open .luckcard {
  box-shadow: 0px 0px 5px 0px #000000;
  transform-origin: bottom right;
}
.lucks.open .luckcard:hover {
  z-index: 1000;
}
.lucks.open.canluck .luckcard .foot button {
  visibility: visible !important;
}

.showcard {
  background: rgba(0,0,0,.5);
  display: none;
  position: absolute;
  bottom: 15rem;
  right: 15rem;
  justify-content: center;
  align-items: center;
}
.showcard .button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.showcard.open {
  display: flex;
}
.showcard .card {
  box-shadow: 0px 0px 5px 0px #000000;
  transition: rotate 1s;
}
.showcard .card > div {
  transition: visibility 0s steps(1, jump-both) .5s;
}
.showcard.back .button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.showcard.back .card {
  rotate: x .5turn;
}
.showcard.blank .card > div {
  visibility: hidden;
}

.rates {
  position: absolute;
  left: 20rem;
  top: -21rem;
  background-color: #fdf3d7;
  width: 50em;
  height: 25em;
  rotate: -.01turn;
  transition: top .5s;
  font-family: serif;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1rem;
  z-index: 101;
  box-shadow: 0px 0px 5px 0px #000000;
}
.rates:hover {
  top: -1rem;
}
.rates .head {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}
.rates .body {
}
.rates .body table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  table-layout: fixed;
}
.rates .body thead {
  border-bottom: 1px solid black;
}
.rates .body th {
  font-weight: normal;
  padding: .5em;
  width: calc(100%/7);
}
.rates .body td+td, .rates .body th+th {
  border-left: 1px solid black;
}
.rates .foot {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
}

.prices {
  position: absolute;
  left: -25rem;
  width: 25rem;
  top: 10rem;
  height: 35rem;
  transition: left .5s, width .5s, rotate .5s;
  background-color: #fdf3d7;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  font-size: smaller;
  box-shadow: 0px 0px 5px 0px #000000;
}
.prices.canbuy {
  rotate: -.01turn;
  left: -15rem;
}
.prices.open {
  rotate: -.01turn;
  left: 20rem;
}
.prices > * {
  width: 25rem;
}
.prices .head {
  height: 8rem;
  background: url('../prices.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.prices .body {
  padding: 1em;
  overflow: auto;
  flex: 1;
}
.prices .sep {
  height: 1rem;
}
.prices table {
  width: 100%;
}
.prices thead th {
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 80%;
}
.prices thead th {
  font-style: italic;
  font-weight: normal;
}
.prices tbody tr:hover {
  background: white;
  cursor: pointer;
}
.prices .place {
  text-transform: uppercase;
}
.prices .fare {
  text-align: right;
}

.souvenircard {
  width: 12rem;
  height: 18rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: .5rem;
  text-align: center;
}
.souvenircard .bar {
  background-color: #99939a;
  height: 2rem;
}
.souvenircard .body {
  font-family: serif;
  text-transform: uppercase;
}
.souvenircard .body div {
  margin: .5rem 0;
}
.souvenircard .foot button {
  display: none;
}
.souvenirs.open.mustdeclare .souvenircard .foot button.declare {
  display: unset;
}
.souvenirs.open.cansell .souvenircard .foot button.sell {
  display: unset;
}
.souvenirs.open.canpawn .souvenircard .foot button.pawn {
  display: unset;
}

.souvenirs {
  position: absolute;
  width: 12rem;
  height: 18rem;
  transition: right .5s, rotate .5s, bottom .5s;
}
.souvenirs.empty {
  display: none;
}
.souvenirs.stashed {
  right: -14rem;
  bottom: 18rem;
  rotate: -.14turn;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}
.souvenirs.stashed:hover {
  right: -10rem;
  rotate: -.18turn;
}
.souvenirs.open {
  right: 10rem;
  bottom: 20rem;
  rotate: 0;
}
.souvenirs .souvenircard {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: left .5s;
}
.souvenirs.open .souvenircard {
  box-shadow: 0px 0px 5px 0px #000000;
  rotate: -.05turn;
}
.souvenirs.open .souvenircard:hover {
  z-index: 1000;
}

.banknote {
  /* border: .5rem solid white; */
  color: #333;
  width: 100%;
  height: 100%;
  padding: .8rem;
}
.banknote .inner {
  width: 100%;
  height: 100%;
  /* background: transparent url("../img/money1.svg") no-repeat center/cover; */
  border: .2rem solid #333;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: contain;
  overflow: clip;
}
.banknote .head {
  position: absolute;
  top: 0; left: 2rem;
  font-size: 7rem;
  opacity: .4;
}
.banknote .body {
  position: absolute;
  top: 1rem; right: 2rem;
  font-size: 2rem;
}
.banknote .foot {
  position: absolute;
  bottom: 2rem; right: 2rem;
}

.banknote.tc {
}

.money {
  position: absolute;
  width: 24rem;
  height: 11rem;
  transition: right .5s, rotate .5s, bottom .5s;
}
.money.empty {
  display: none;
}
.money.stashed {
  right: -5rem;
  bottom: -10rem;
  rotate: .15turn;
  transform-origin: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}
.money.stashed:hover {
  bottom: -8rem;
}
.money.open {
  right: 10rem;
  bottom: 10rem;
}
.money .banknote {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: rotate .5s;
}
.money.open .banknote {
  box-shadow: 0px 0px 5px 0px #000000;
}
.money.open .banknote:hover {
  z-index: 1000;
}
.money .foot button {
  display: none;
}
.money.open.canchange .banknote .foot button.change {
  display: unset;
}
.money.open.cangamble .banknote .foot button.gamble {
  display: unset;
}
.money.open.canpay .banknote .foot button.pay {
  display: unset;
}

.debt {
  position: absolute;
  top: 5rem;
  left: -18rem;
  rotate: -.04turn;
  color: black;
  transition: left .5s;
  padding: 0 .5em;
  background-color: #dfd8c7;
  box-shadow: 0px 0px 5px 0px #000000;
  padding: 1em;
}
.debt .head {
  text-align: center;
  font-size: 200%;
}
.debt .body {
  font-size: 100%;
  margin: 1rem 0;
}
.debt.show {
  left: 18rem;
}
.debt.show:hover {
  background-color: #dfd8c7;
}
.debt table {
  width: 100%;
}
.debt tr {
  border-bottom: 1px dotted black;
}
.debt td {
  padding: 1rem 1rem 0rem 0;
}

.win {
  position: absolute;
  top: 6rem;
  left: 50vw;
  width: 0;
  justify-content: center;
  display: none;
  pointer-events: none;
}
.win.show {
  display: flex;
}
.win .inner {
  font-size: 3rem;
  color: white;
  text-align: center;
  overflow-wrap: normal;
  background: #fff3;
  border-radius: .5em;
  padding: 1rem;
  min-width: 20rem;
}
